export(unf)
export(unf6)
export(unf5)
export(unf4)
export(unf3)
export("%unf%")
importFrom(digest, digest)
importFrom(base64enc, base64encode)
importFrom(tools, md5sum)
importFrom(stats, is.ts)
importFrom(utils, head)
S3method(print, UNF)
S3method(print, UNFtest)
